
/* Règles pour toutes les pages du site (par defaut) */

body {
  background-color:#222;
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  color:grey;
}

/* Regles pour la page index */

body.index {
  text-align:center;
  color:#e0e0e0;
}

row.img {
  position:25%;
}

/* images linus et projet*/

.col.imglinus:hover {
  filter:brightness(50%);
}

.col.imgprojet:hover {
  filter:brightness(50%);
}

.col.imgprojet2:hover {
  filter:brightness(50%);
}


.row::after {
    clear: both;
    display: table;
}

.col.imgprojet {
  padding-left: 10%;
}


/* Modification des images INDEX */

.imgIndex {
  filter:brightness(50%);
  transition: 0.2s all;
}

.imgIndex:hover {
  filter:brightness(1);
}


/* Responsive Image INDEX */

@media(min-width:450px) {

	.selfImgIndex {
		height:350px;
	}

}

@media(max-width:450px) {

	.selfImgIndex {
		height:250px;
	}

}

@media(max-width:350px) {

	.selfImgIndex {
		height:150px;
	}

}




/* Changement de la balise a INDEX */

a {
  color:#e0e0e0;

}

a:hover {
  color:#e0e0e0;
  text-decoration:none;
}

/* Linus Torvalds : biographie et autres paragraphes */
p.paragraph {
  color:#e0e0e0;
  text-align:justify;
}

.getlinux a {
  color:grey;
  text-decoration:none;
}

.getlinux a:hover {
  color:red;
  text-decoration:none;
}

/* Page Linux */

@media(min-width:770px) {
	#videoLinux {
		max-width: 60%;
	}
}



/* CSS Autres Pages */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* Toggle-Button */
.btn {

    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
        border-top-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.btn-secondary {

    color: #fff;
    background-color: black;
    border-color: grey;

}
